# Jour 5 - Exercices

In [2]:
import pandas as pd
import sqlite3

# ========================
# Partie A — Débutants
# ========================

# 1. Charger le fichier `customers.csv` et afficher les 5 premières lignes

In [4]:
customers = pd.read_csv('data/customers.csv')
print("5 premières lignes :")
print(customers.head())

5 premières lignes :
   id     name  age       city
0   1    Alice   25      Paris
1   2      Bob   35       Lyon
2   3  Charlie   40  Marseille
3   4    Diana   28      Paris
4   5    Ethan   32      Lille

# 2. Afficher uniquement la colonne `name`

In [5]:
print("\nColonne 'name' :")
print(customers['name'])

Colonne 'name' :
0      Alice
1        Bob
2    Charlie
3      Diana
4      Ethan
Name: name, dtype: object

# 3. Lister les clients de Paris

In [6]:
paris_clients = customers[customers['city'] == 'Paris']
print("\nClients de Paris :")
print(paris_clients)

Clients de Paris :
   id   name  age   city
0   1  Alice   25  Paris
3   4  Diana   28  Paris

# 4. Trier les clients par âge décroissant

In [7]:
sorted_customers = customers.sort_values(by='age', ascending=False)
print("\nClients triés par âge décroissant :")
print(sorted_customers)

Clients triés par âge décroissant :
   id     name  age       city
2   3  Charlie   40  Marseille
1   2      Bob   35       Lyon
4   5    Ethan   32      Lille
3   4    Diana   28      Paris
0   1    Alice   25      Paris

# 5. Compter combien de clients viennent de chaque ville

In [8]:
city_counts = customers['city'].value_counts()
print("\nNombre de clients par ville :")
print(city_counts)

Nombre de clients par ville :
city
Paris        2
Lyon         1
Marseille    1
Lille        1
Name: count, dtype: int64

# 6. Sauvegarder les clients de Lyon dans `data/lyon_clients.csv`

In [9]:
lyon_clients = customers[customers['city'] == 'Lyon']
lyon_clients.to_csv('data/lyon_clients.csv', index=False)
print("\nClients de Lyon sauvegardés dans 'data/lyon_clients.csv'.")

Clients de Lyon sauvegardés dans 'data/lyon_clients.csv'.

# (Optionnel) Lister les clients dont le nom commence par “A”

In [10]:
clients_a = customers[customers['name'].str.startswith('A')]
print("\nClients dont le nom commence par 'A' :")
print(clients_a)

Clients dont le nom commence par 'A' :
   id   name  age   city
0   1  Alice   25  Paris

# ========================
# Partie B — Challenge
# ========================

# 7. Charger la table `orders` depuis la base `marketing.db`

In [12]:
conn = sqlite3.connect('data/marketing.db')
orders = pd.read_sql_query("SELECT * FROM orders", conn)
print("\n5 premières commandes :")
print(orders.head())

5 premières commandes :
   id  customer_id  amount  order_date
0   1            1    39.9  2025-06-01
1   2            2   120.0  2025-06-02
2   3            1    59.0  2025-06-03
3   4            3    80.0  2025-06-04
4   5            4    25.0  2025-06-05

# 8. Lister les 5 premières commandes avec le nom du client
# On suppose que 'orders' a 'customer_id' et 'customers' a 'id'

# Charger le fichier customers.csv

In [18]:
customers = pd.read_csv('data/customers.csv')
print("Colonnes customers :", customers.columns)

Colonnes customers : Index(['id', 'name', 'age', 'city'], dtype='object')

# Merge orders avec customers pour avoir le nom du client

In [19]:
orders_with_names = orders.merge(customers, left_on='customer_id', right_on='id')

# Renommer les colonnes pour plus de clarté

In [20]:
orders_with_names.rename(columns={'id_x':'order_id', 'id_y':'customer_id', 'order_date':'date'}, inplace=True)

# Afficher les 5 premières commandes avec le nom du client

In [21]:
print("\n5 premières commandes avec le nom du client :")
print(orders_with_names[['order_id', 'name', 'amount', 'date']].head())

5 premières commandes avec le nom du client :
   order_id     name  amount        date
0         1    Alice    39.9  2025-06-01
1         2      Bob   120.0  2025-06-02
2         3    Alice    59.0  2025-06-03
3         4  Charlie    80.0  2025-06-04
4         5    Diana    25.0  2025-06-05

# 9. Calculer le total dépensé par chaque client

In [22]:
total_by_client = orders_with_names.groupby('name')['amount'].sum().reset_index()
print("\nTotal dépensé par chaque client :")
print(total_by_client)

Total dépensé par chaque client :
      name  amount
0    Alice    98.9
1      Bob   120.0
2  Charlie    80.0
3    Diana    25.0

# 10. Calculer le panier moyen par ville

In [23]:
average_by_city = orders_with_names.groupby('city')['amount'].mean().reset_index()
print("\nPanier moyen par ville :")
print(average_by_city)

Panier moyen par ville :
        city  amount
0       Lyon   120.0
1  Marseille    80.0
2      Paris    41.3

# 11. Exporter le rapport en CSV

In [24]:
average_by_city.to_csv('data/panier_moyen_par_ville.csv', index=False)
print("\nRapport exporté dans 'data/panier_moyen_par_ville.csv'.")

Rapport exporté dans 'data/panier_moyen_par_ville.csv'.

# (Optionnel) Trouver le top 3 clients par montant total

In [25]:
top3_clients = total_by_client.sort_values(by='amount', ascending=False).head(3)
print("\nTop 3 clients par montant total :")
print(top3_clients)

Top 3 clients par montant total :
      name  amount
1      Bob   120.0
0    Alice    98.9
2  Charlie    80.0

# Créer la connexion

In [2]:
import sqlite3

conn = sqlite3.connect('marketing.db')

# ... ton code qui utilise la base ...

# Fermer la connexion à la base

In [3]:
conn.close()